{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [{
    "files": "*.ts",
    "options": {
      "parser": "typescript",
      "printWidth": 100,
      "bracketSpacing": false,
      "singleQuote": true,
      "trailingComma": "all",
      "tabWidth": 2,
      "useTabs": true,
      "arrowParens": "always"
    }
  }]
}
